# Configuration file
# Generated on 2/25/12 5:14 PM

###########
# General #
###########

general {
   # Causes login and join events to be sent for the fake player. This may help some plugins, but will cause errors with others. YMMV.
   blocks.fakeplayerlogin=false
   # Configures the name of the fake player used when blocks.placedby=fakeplayer
   blocks.fakeplayername=[BuildCraft]
   # Configures BLOCK_PLACE and BLOCK_BREAK events. Options are 'null' and 'fakeplayer'
   blocks.placedby=fakeplayer
   # set to true for allowing machines to be driven by continuous current
   current.continuous=false
   # set to true to load pre 2.2.5 worlds pipes
   loadLegacyPipes=true
   mining.enabled=true
   # set to false if BuildCraft should not generate custom blocks (e.g. oil)
   modifyWorld=true
   # increasing this number will decrease network update frequency, useful for overloaded servers
   network.updateFactor=10
   # set to false to deactivate pipe connection rules, true by default
   pipes.alwaysConnect=false
   power.framework=buildcraft.energy.PneumaticPowerFramework
   trackNetworkUsage=false
   version=2.2.12
}

#########
# Block #
#########

block {
   autoWorkbench.id=152
   builder.id=157
   cobblestonePipe.id=159
   diamondPipe.id=149
   dockingStation.id=168
   drill.id=151
   engine.id=161
   filler.id=155
   frame.id=160
   goldenPipe.id=148
   ironPipe.id=147
   marker.id=154
   miningWell.id=150
   obsidianPipe.id=156
   oilMoving.id=162
   oilStill.id=163
   pipe.id=166
   pump.id=164
   quarry.id=153
   refinery.id=167
   stonePipe.id=146
   tank.id=165
   template.id=158
   woodenPipe.exclusion=
   woodenPipe.id=145
}

########
# Item #
########

item {
   bucketFuel.id=3810
   bucketOil.id=3807
   diamondGearItem.id=3804
   fuel.id=3808
   goldenGearItem.id=3803
   ironGearItem.id=3802
   pipeItemsCobblestone.id=4051
   pipeItemsDiamond.id=4055
   pipeItemsGold.id=4054
   pipeItemsIron.id=4053
   pipeItemsObsidian.id=4056
   pipeItemsStone.id=4052
   pipeItemsWood.id=4050
   pipeLiquidsCobblestone.id=4058
   pipeLiquidsGold.id=4061
   pipeLiquidsIron.id=4060
   pipeLiquidsStone.id=4059
   pipeLiquidsWood.id=4057
   pipePowerGold.id=4068
   pipePowerStone.id=4066
   pipePowerWood.id=4064
   stoneGearItem.id=3801
   templateItem.id=3805
   woodenGearItem.id=3800
   wrench.id=3806
}

