#MLProperties: name (type:default) min:max -- information
#MLProp : blockIDCraftingTableIII (int:126)
#MLProp : guiIDCraftingTableIII (int:235)
#
#Mon May 21 21:59:07 PDT 2012
blockIDCraftingTableIII=126
guiIDCraftingTableIII=235
